@media screen and (max-width: 800px) {
    .onlyPC{ display: none; }  
    
  }
  
  @media screen and (min-width: 800px){
  
    .topnav{ display: none;}
  }

/*definition de la police g�n�rale pour l'ensemble de la page
    et de la largeur d'occupation du body � l'�cran
*/
body {
    font-family: "Poppins", Arial, sans-serif;
    width : 100% ;
    margin : 0% ; 
}

/*styles du header*/

.flex_container_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6D429C;
    color: white;
    font-size: 0.9em;
    font-weight: 200;
}

#logo {
    margin: 1em 0em 1em 0em;
    max-width: 100%;
    height: auto ; 
    
}

header i {
    margin-right: 1em;
    border: 1px solid #88BA14;
    border-radius: 20px;
    padding: 0.6em 0.6em;
    color: #88BA14 ; 
}

/*style du menu de navigation*/

.flex-container nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul {
    
    list-style-type: none;
    margin: 0;
    margin-left: 5%;
    padding: 0;
    overflow: hidden; 
  }

  nav li {
    float: left; 
  }
  
  nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   
  }

  li a:hover {
    background-color: grey;
    color: white;
  }

  .active {

    background-color: #88b414;
    color: white;
  }

  .active-mobile {
    background-color: #88b414;
    color: white;
  }

  .topnav {
    
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .topnav #menuMobile {
    display: none;
  }

  .topnav li {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    color: black;
    background-color: white;

    display: block;
    right: 0;
    top: 0;
    font-size: 2em;
  }

  .topnav a span {
    font-size: 1em;
  }

  .topnav a.icon:hover {
   background-color: grey;
   color: white;
  }
  



/*styles du header*/

.flex_container_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6D429C;
    color: white;
    font-size: 0.9em;
    font-weight: 200;
}

#logo {
    margin: 1em 0em 1em 0em;
    max-width: 100%;
    height: auto ; 
    
}

header i {
    margin-right: 1em;
    border: 1px solid #88BA14;
    border-radius: 20px;
    padding: 0.6em 0.6em;
    color: #88BA14 ; 
}



  /*styles de la banni�re*/

.banniere {
    background: url("img/Images fond/Serie A/banniere.jpg");
    background-size : cover ; 
    height: 35em;
    position : relative ; 
}

.texte_banniere {
    position : absolute ; 
    bottom : 4em ; 
    left : 5% ; 
}

.texte_banniere h4 {
    color: #88b414 ; 
    font-weight : 200 ; 
    font-size : 1.5em ; 
}

.texte_banniere h1 {
    color : white ; 
    font-weight : 700 ; 
    font-size : 2.5em ; 
}

button {
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.8em;
    color: white;
    background-color: #88b414;
    padding : 1em ; 
}

